.body{
    font-family: sans-serif;
    font-size: 15px;
}


.header .col-md-12{
    background-color:#8ad385;
    color:black;
    font-family: sans-serif;
  	padding-bottom: 0;
  	height: 50px;
  	line-height: 50px;
  	text-align: center;
  	width: 1500px;
}
.col-md-3{
	text-align: left;
}
#menu{
    margin-left:20px;
   

}
#menu h2{
    padding-top:10px;
}
#menu ul{
    width: 250px;
    padding:0px;
    background-color:#8ad385;
    list-style-type:none; 
}
#menu ul li{
    width: auto;
    height: 60px;
    line-height: 40px;
  	border-bottom:3px solid #e8e8e8;
    padding:0 1em;
    position: relative;
}
#menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;


}
#menu ul li:hover {
    background:#CDE2CD;
}
#menu .sub-menu{
    position: absolute;
    left:150px;
    top:0;
    display: none;
    background: #CDE2CD;
}
#menu ul li:hover .sub-menu{
    display: block;
}


